/* line 1, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/style.scss */
.email-container {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #666;
}

/* line 13, ../sass/style.scss */
.email-header {
  background-color: #574943;
  background-image: url(../img/bg.jpg);
  background-position: top left;
  color: #fff;
  padding-top: 30px;
}

/* line 20, ../sass/style.scss */
.email-center {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 0 20px;
}

/* line 26, ../sass/style.scss */
.email-logo {
  float: left;
}

/* line 29, ../sass/style.scss */
.email-social-wrap {
  float: right;
}
/* line 31, ../sass/style.scss */
.email-social-wrap a {
  margin-left: 7px;
}

/* line 35, ../sass/style.scss */
.email-header-top {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

/* line 42, ../sass/style.scss */
.email-button,
.product-button {
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 11px 45px;
  background-color: #56BA5B;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 80px;
}

/* line 56, ../sass/style.scss */
.product-button {
  margin: 15px 0 0;
  font-size: 12px;
  background-color: #7A695A;
  padding: 9px 38px;
}

/* line 63, ../sass/style.scss */
.email-tizers-wrap {
  background-color: #F1F1F2;
  border-bottom: 5px solid #D5D5D5;
  margin-top: -34px;
  padding: 34px 0 0;
}

/* line 69, ../sass/style.scss */
.email-tizer-item {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  padding: 0 20px;
  padding-bottom: 20px;
}

/* line 77, ../sass/style.scss */
.email-sale-text {
  display: inline-block;
  margin: 45px 0;
  text-transform: uppercase;
  color: #7a695a;
  letter-spacing: 4px;
  padding: 10px 35px;
  border: 1px solid #7a695a;
  line-height: 24px;
}

/* line 89, ../sass/style.scss */
.mail-product-wrap img {
  width: 100%;
}

/* line 94, ../sass/style.scss */
.mail-products-item {
  width: 250px;
  display: inline-block;
  padding: 0 20px;
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* line 103, ../sass/style.scss */
.mail-price {
  color: #040506;
  margin-top: 10px;
  font-size: 16px;
  margin-top: 15px;
}

/* line 110, ../sass/style.scss */
.email-footer {
  background-color: #ECECEC;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #a1a1a1;
}
/* line 116, ../sass/style.scss */
.email-footer a {
  color: #a1a1a1;
}
