body {
  margin: 0;
  padding: 0;
}

.email-container {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #666;
}

.email-header {
  background-color: #574943;
  background-image: url(../img/bg.jpg);
  color: #fff;
  padding-top: 30px;
}

.email-center {
  margin: auto;
  max-width: 600px;
}
