body {
	margin: 0;
	padding: 0;
}
 
.email-container {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 14px;
	color: #666;
}

.email-header {
	background-color: #574943;
	background-image: url(../img/bg.jpg);
	background-position: top left;
	color: #fff;
	padding-top: 30px;
}

.email-center{
	margin: auto;
	max-width: 600px;
	text-align: center;
	padding: 0 20px;

.email-logo{
	float: left;
}

.email-social-wrap {
	float: right;
	a{
		margin-left: 7px;
	}
}

.email-header-top {
	padding-top: 100px;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

.email-button {
	display: inline-block;
	text-align: center;
	color: #fff;
	padding: 11px 45px;
	background-color: #56BA5B;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 80px;
}