doctype html
html
	head
		<link rel="stylesheet" href="css/style.css">
		meta(charset='utf-8')

	body
		.email-container
			.email-header
				.email-center
					.email-header-topline
						a.email-logo(href="#")
							img(src="img/logo.png", alt="logo")
					
					.email-social-wrap
						a(href="#")
							img(src="img/soc_twitter.png", alt="")
						a(href="#")
							img(src="img/soc_vk.png", alt="")
						a(href="#")
							img(src="img/soc_fb.png", alt="")
					
					.email-header-top.
						Самое лучшее предложение <br> из всех, которые вы получали

					a(href="#").email-button Подробнее

			.email-content
				.email-center
					.email-tizers-wrap
						.email-tizer-item
							img(src="img/icon_1.png", alt="ALt")
							p У нас есть лапки
						.email-tizer-item
							img(src="img/icon_2.png", alt="ALt")
							p ... и бумажные самолетики
						.email-tizer-item
							img(src="img/icon_3.png", alt="ALt")
							p Кроме того, у нас есть чемодан

					.email-sale-text Заказывая сейчас - получаете скидку

					.mail-product-wrap
						.mail-products-item
							img(src="img/items/1.jpg", alt="Alt")
							.mail-price 2 000 rub
							a(href="#").product-button Заказать
						.mail-products-item
							img(src="img/items/2.jpg", alt="Alt")
							.mail-price 4 000 rub
							a(href="#").product-button Заказать
						.mail-products-item
							img(src="img/items/3.jpg", alt="Alt")
							.mail-price 3 000 rub
							a(href="#").product-button Заказать
						.mail-products-item
							img(src="img/items/4.jpg", alt="Alt")
							.mail-price 6 000 rub
							a(href="#").product-button Заказать







		


