doctype html
html
	head
		<link rel="stylesheet" href="css/style.css">
		meta(charset='utf-8')

	body
		.email-container
			.email-header
				.email-center
					.email-header-topline
						a.email-logo(href="#")
							img(src="img/logo.png", alt="logo")
					
					.email-social-wrap
						a(href="#")
							img(src="img/soc_twitter.png", alt="")
						a(href="#")
							img(src="img/soc_vk.png", alt="")
						a(href="#")
							img(src="img/soc_fb.png", alt="")
					
					.email-header-top.
						Самое лучшее предложение <br> из всех, которые вы получали

					a(href="#").email-button Подробнее



		


